<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 5 - ejs</title>
</head>
<body>

    <table>
        
        <% if (list.length === 0) { %>
            <h2>Arent products to show</h2>
            <% } else { %>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Thumbnail</th>
                </tr>
                <% list.forEach(product =>  { %>
                <tr>
                    <td> <%= product.title %> </td>
                    <td> <%= product.price %> </td>
                    <td> <img src=" <%= product.thumbnail %> " width="200px"> </td>
                </tr>
            <% }) %> 
        <% } %> 


    </table>

    <a href="/">Insert new product</a>
    
</body>
</html>